
@{
    ViewData["Title"] = "Index";
}

<h1>Area Index</h1>


@using (Html.BeginForm("Logout", "Home", FormMethod.Post))
{
   
    <div class="col-md-12">
        <input type="submit" value="Logout" />
    </div>
}
