@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
    <div class="col-md-12">
        <span>Userid</span>
        <input name="userid" id="useid" type="text" class="form-control" />
    </div>
    <div class="col-md-12">
        <span>Password</span>
        <input name="pass" id="pass" type="text" class="form-control" />
    </div>
    <div class="col-md-12">
       <input type="submit" value="Submit" />
    </div>
    }
</div>
